.footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  padding-bottom: 60px;
  max-width: 880px;
  width: 100%;
  margin: 50px auto 0;

  color: #545454;
  /*width: 318px;
  height: 18px;
  left: 200px;
  top: 1139px; */
  gap: 0px;
  opacity: 0px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 880px;
    width: 100%;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 880px;
    width: 100%;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 880px;
    width: 100%;
    margin: 50px auto 0;
    font-size: 14px;
  }
}
