.footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  padding: 67px 0 60px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;

  color: #545454;
  /*width: 318px;
  height: 18px;
  left: 200px;
  top: 1139px; */
  gap: 0px;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 48px 0 36px;
    font-size: 14px;
  }
}
