.header {
  margin-top: 45px;
  width: 100%;
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
  padding-bottom: 40px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }

  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }
}
